# Dependencies
node_modules/

# Build output
dist/
build/

# Storybook
storybook-static/

# Test coverage
coverage/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*.log

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
